@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Rubik, sans-serif;
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Stolzl, sans-serif;
}

h1 {
    font-family: Rubik, sans-serif;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #FFF5E4;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 20px solid #FFF5E4;
}